<section id="edit-skill">
  <header>
    <a id="btn-done" class="btn btn-link"
      ng-href="#/skill/{{slug}}/view" 
      yc-key="['ctrl+s','mod+s']">
      <i class="fa fa-check"/> Done
    </a>
    <h1>{{skill.title}}</h1>
    <button id="btn-rename" class="btn btn-link btn-xs"
      ng-click="rename()">
      Rename
    </button>
  </header>

  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label for="prerequisites">
        Prereqs
      </label>
      <yc-tag-select class="form-input" tags="prereqList" model="skill.prereqs" autofocus>
    </div>

    <div class="form-group">
      <label for="tags">
        Tags
      </label>
      <yc-tag-select class="form-input" tags="tagList" model="skill.tags">
    </div>

    <div class="form-group">
      <label for="content">Content</label>

      <div class="form-input">
        <div id="content" text-angular ng-model="skill.content"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="reading">Reading</label>
      <div class="form-input">
        <div ng-repeat="l in skill.reading">
          <yc-link-input link-id="l" on-remove="removeReading"/>
        </div>
        <yc-add-link-input on-added="addReading"/>
      </div>
    </div>

    <div class="form-group">
      <label for="reading">Practice</label>
      <div class="form-input">
        <div ng-repeat="l in skill.practice">
          <yc-link-input link-id="l" on-remove="removePractice"/>
        </div>
        <yc-add-link-input on-added="addPractice"/>
      </div>
    </div>
  </form>

</section>