
<div>
  <button class="btn btn-link" ng-click="deleteEdges()">Delete Selected Edges</button>

  <!-- add edge/create edge/cancel  -->
  <button class="btn btn-link" 
    ng-click="addEdge()"
    ng-show="!addingEdge">
      Add Edges
  </button>
  <button class="btn btn-link"
    ng-click="addEdge()"
    ng-show="addingEdge.skill">
      Create Edge
  </button>
  <button class="btn btn-link"
    ng-click="cancelAdd()"
    ng-show="addingEdge">
    Stop Adding Edges
  </button>
  <span ng-show="addingEdge">{{addingEdge.prereq}} <i class="fa fa-long-arrow-right"/> {{addingEdge.skill}}</span>

  <add-skill yc-key="['n','+']:New Skill"><i class="fa fa-plus"/> Add Skill</add-skill>
</div>

<skill-graph graph="graph" 
  redraw="redraw"
  on-node-select="pickNode"/>

