
#skill-graph .admin {
  float: left;
  .add-skill {
    display: inline;
  }
}

#skill-graph .graph {
  width: 100%;
  overflow-x: scroll;
  text-align: center;
  svg {
    text-rendering: geometricPrecision;
    display: inline;
  }

  rect {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
  }
  text {
    font-size: 20px;
  }
  .node {
    div {
      &:hover {
        cursor: pointer;
      }
      font-size: 8px;
      max-width: 80px;
      @media (min-width: @screen-sm-min) {
        font-size: 14px;
      }
    }
  }
  path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    opacity: .25;
    stroke-opacity: .15;
    &:hover {
      stroke-opacity: 1;
      stroke: #f00;
    }
  }

  .tag-HTML {
    fill-opacity: .20;
    fill: #F80;
    stroke: #F80;
  }
  .tag-CSS {
    fill-opacity: .20;
    fill: #0AF;
    stroke: #0AF;
  }
  .tag-making {
    fill-opacity: .20;
    fill: #0FC;
    stroke: #0FC;
  }


  .selected * {
    stroke-opacity: 1;
    fill-opacity: .7;
  }

  .selected-prerequisite * {
    stroke-opacity: 1;
    fill-opacity: .5;
  }

  .selected-sequel * {
    stroke-opacity: 1;
    fill-opacity: .5;
  }

}
