
<div>
  <button class="btn btn-link" ng-click="deleteEdges()">Delete Selected Edges</button>

  <!-- add edge/create edge/cancel  -->
  <button class="btn btn-link" 
    ng-click="addEdge()"
    ng-show="!addingEdge">
      Add an Edge
  </button>
  <button class="btn btn-link"
    ng-click="addEdge()"
    ng-show="addingEdge.skill">
      Create Edge
  </button>
  <button class="btn btn-link"
    ng-click="cancelAdd()"
    ng-show="addingEdge">
    Cancel
  </button>

  <add-skill yc-key="['n','+']:New Skill"><i class="fa fa-plus"/> Add Skill</add-skill>
</div>
<div>
  <skill-graph graph="graph" 
    redraw="redraw"
    on-node-select="pickNode"/>
</div>

