
.skill-graph {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    text-rendering: geometricPrecision;
  }

  .node {
    rect {
      fill: #fff;
      stroke: #000;
      stroke-width: 1px;
      &.selected {
        stroke: #00F;
      }
    }
    text {
      font-size: 20px;
    }
    div {
      max-width: 70px;
      &:hover {
        cursor: pointer;
      }
    }
  }


  .edgePath path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    opacity: .5;
    stroke-opacity: .25;
    &:hover {
      stroke-opacity: 1;
      stroke: #f00;
    }
  }

  .selected.selected * {
    stroke: #00f;
    stroke-opacity: 1;
  }

}
