
/**
 * tag-specific styling
 */
.tag-CSS .tagged {
  color: @color-css;
}
.tag-HTML .tagged {
  color: @color-html;
}
.tag-making .tagged {
  color: @color-making;
}
.tag-javascript .tagged {
  color: @color-javascript;
}
a,strong {
  &.tag-CSS {
    color: @color-css;
  }
  &.tag-HTML {
    color: @color-html;
  }
  &.tag-making {
    color: @color-making;
  }
  &.tag-javascript {
    color: @color-javascript;
  }
}


.skill {
  @media (min-width: @screen-sm-min) {
    h1,aside.prereqs {
      vertical-align: baseline;
      display: inline-block;
    }
  }
  h1 {
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    a {
      color: inherit;
    }
  }
  aside.prereqs{
    h2 {
      font-size: @font-size-base;
      display: inline;
      text-transform: uppercase;
    }

    li {
      font-family: @tags-font-family;
      font-weight: 300;
    }

    margin-bottom: (@line-height-computed / 2);
  }

  .description {
    clear: both;
  }
}


@import 'view/view.less';
@import 'edit/edit.less';
@import 'list/list.less';
@import 'cards/cards.less';
@import 'graph/graph.less';