
/**
 * tag-specific styling
 */
.tag-CSS .tagged {
  color: @color-css;
}
.tag-HTML .tagged {
  color: @color-html;
}
.tag-making .tagged {
  color: @color-making;
}
a.tag-CSS {
  color: @color-css;
}
a.tag-HTML {
  color: @color-html;
}
a.tag-making {
  color: @color-making;
}

.skill {
  h1 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    a {
      color: inherit;
    }
  }
}


@import 'view/view.less';
@import 'edit/edit.less';
@import 'list/list.less';
@import 'cards/cards.less';
@import 'graph/graph.less';