<section id="skill-view">
<header>
  <a ng-href="#/skill/{{slug}}/edit" 
    yc-key="e" 
    class="btn btn-link"
    ng-show-auth="login" role="admin">
    <i class="fa fa-edit"/> Edit
  </a>
  <h1>{{skill.title}}</h1>
</header>
<aside>
  <taglist tags="skill.tags" label="Tags:"/> 
  <h1>Prerequisites:</h1>
  <ul ng-show="skill.prereqs.length > 0">
    <li ng-repeat="req in skill.prereqs">
      {{req}}
    </li>
  </ul>
  <span ng-show="!(skill.prereqs.length>0)">
    None
  </span>
</aside>
<article>
  <section ng-bind-html="skill.content">
  </section>
  <h2>Reading</h2>
  <ul>
    <li ng-repeat="l in skill.reading">
      <a ng-href="{{getLink(l).url}}">{{getLink(l).description}}</a>
    </li>
  </ul>
  <h2>Practice</h2>
  <ul>
    <li ng-repeat="l in skill.practice">
      <a ng-href="{{getLink(l).url}}">{{getLink(l).description}}</a>
    </li>
  </ul>
</article>

</section>

