

<section id="skill-list">
	<ul class="skills list-unstyled">
		<li ng-repeat="(slug,skill) in skillList">
      <input type="checkbox" ng-model="selected[slug]" tabindex="1" autofocus>
      <div>
        <a ng-href="#/skill/{{slug}}/view">{{skill.title}}</a> 
        <taglist tags="skill.tags"/>
      </div>
      <div class="controls">
        <a ng-href="#/skill/{{slug}}/edit" role="button" class="btn btn-link"><i class="fa fa-edit"></i></a>
        <button type="button" class="btn btn-link" ng-click="delete(slug)"><i class="fa fa-times"></i></button>
      </div>
    </li>
	</ul>

  <button type="button" class="btn btn-link"
    ng-click="delete()"
    yc-key="['d']:Delete Selected">
    <i class="fa fa-times"/>
    Delete Selected
  </button>
	<new-skill yc-key="['n','+']:New Skill"/>

</section>