

<section id="skill-list">
	<h2>Skills</h2>

	<ul class="list-unstyled">
		<li ng-repeat="(slug,skill) in skillList">
      <div>
        <a ng-href="#/skill/{{slug}}/view" class="">{{skill.title}}</a> 
        <taglist tags="skill.tags"/>
      </div>
      <a ng-href="#/skill/{{slug}}/edit" role="button" class="btn btn-primary">Edit</a>
      <button type="button" class="btn btn-danger" ng-click="delete(slug)">Delete</button>
    </li>
	</ul>

	<new-skill create="add" yc-key="['n','+']:New Skill"/>

</section>