.skill-list {
  &>h1 {
    margin-bottom: (@line-height-computed * -1);
  }

  .skill {
    .make-row();
    h1 {
      font-size: @font-size-h2;
      margin-bottom: (@line-height-computed / 4);
      margin-top: (@line-height-computed * 2);
      .make-sm-column(12);
    }
    .prereqs {
      margin-top: 0;
      margin-bottom: (@line-height-computed / 2);
      .make-sm-column(12);
    }
    h2 {
      font-size: @font-size-h3;
      margin-top: (@line-height-computed / 2);
    }
    .description {
      .make-sm-column(12);
    }
    .reading {
      .make-sm-column(6);
    }
    .practice {
      .make-sm-column(6);
    }
  }

  .btn {
  	padding: 0px;
  }
  .btn-link {
    color: black;
  }

}