<article class="container skill-list">

  <header>
    <h1>Web Dev Skills and Concepts
    </h1>
    <div class="controls">
      <button type="button" ng-show="userProfile.completedSkills.length > 0" class="btn btn-sm btn-default" ng-click="toggleShowCompleted()">
        {{ showingCompleted ? "Hide Completed Topics" : "Show All Topics" }}
      </button>
    </div>
  </header>

  <div class="spinner" ng-hide="slugs">
    Loading...
  </div>

  <div ng-repeat="slug in slugs">
    <skill slug="slug" 
    completed-readings="userProfile.completedReadings" 
    completed-practice="userProfile.completedPractice"
    completed-skills="userProfile.completedSkills" 
    show-completion="userProfile"
    ng-show="showingCompleted || !contains(userProfile.completedSkills, slug)">
  </div>
</article>