

<section id="home">

  <h1>Welcome to Web Dev and Design</h1>

  <h2>
    <a href="#"
            ng-init="tumblrCollapsed=true" 
            ng-click="tumblrCollapsed = !tumblrCollapsed">
      First, do this.
    </a></h2>
  <section collapse="tumblrCollapsed">
    Set up a <a href="http://tumblr.com" title="tumblr">tumblr</a>, and follow <a href="http://parkwebdesign.tumblr.com/" title="parkwebdesign">parkwebdesign</a>.
    This will be where you collect your design inspiration&mdash;both on your own and for particular assignments.
    <aside>
      Note: please <em>do not</em> use your full name on this site.  (It's a legal thing.)
    </aside>
  </section>
  <h2><a href="#"
            ng-init="dropboxCollapsed=true" 
            ng-click="dropboxCollapsed = !dropboxCollapsed">    
    Then, get this.</a></h2>
  <section collapse="dropboxCollapsed">
    Create an account <a href="http://www.dropbox.com">here</a> or <a href="http://drive.google.com">here</a> (if you don't already have one), and then download the appropriate program for keeping your computer synced.
  </section>

  <h2><a href="#"
            ng-init="readingCollapsed=true" 
            ng-click="readingCollapsed = !readingCollapsed">    
    Finally, read this.</a></h2>
  <section collapse="readingCollapsed">
    Read/watch each of the pieces in <a href="#/skill/what-is-the-internet/view" title="">What is the Internet?</a><br/>
    Read at least one of the first two pieces in <a href="#/skill/what-is-html/view" title="What is HTML?">What is HTML?</a><br/>
    Also, feel free to start posting stuff to your tumblr.
  </section>


</section>